---
import Expander from './Expander';
import Pill from './Pill.astro';

const { imgSrc, title, subtitle, tags, expandId } = Astro.props;
---

<div
	class='qualifications_header clickable flex gap-2 items-center justify-around'>
	<img
		src={`img/${imgSrc}`}
		alt={imgSrc}
		class='rounded-full w-16 h-16 border-sky-50 border'
	/>
	<div class='text-left class= flex-1'>
		<h3 class='text-base font-bold' data-i18n-key='u4-title'>
			{title}
		</h3>
		<span class='text-xs' data-i18n-key='u4-subtitle'>{subtitle}</span>
		{
			tags && (
				<ul class='tag_list gap-2 flex flex-wrap justify-items-stretch mt-2'>
					{tags.map((tag) => (
						<Pill textSize='xs' tag={tag} />
					))}
				</ul>
			)
		}
	</div>
	{expandId && <Expander client:load expandId={expandId} />}
</div>

<script></script>
